---
title: 100 Days of Codee 2020
kind: article
created_at: 2020-04-04
preview_image:
---


<% content_for(:comic) do %>
<% end %>

<% content_for(:newspost) do %>
  <h2>#100DaysOfCode 2020</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
<p>I've wanted to get back into coding more and actually turning some of my ideas into actual things. What better time than while in quarantine? So here is my running list of these #100DaysOfCode.
</p>
<ol>
<li>Build <a href="https://spiritualsoundsystem.kylemensing.com/" target="_blank">Spiritual Sound System</a> page</li>
<li>Build <a href="https://spiritualsoundsystem.kylemensing.com/past-vibrations" target="_blank">Spiritual Sound System archive</a> page</li>
<li><a href="https://spiritualsoundsystem.kylemensing.com/" target="_blank">Spiritual Sound System</a> mobile style tweaks</li>
<li><a href="https://spiritualsoundsystem.kylemensing.com/" target="_blank">Spiritual Sound System</a> mobile style tweaks</li>
<li><a href="https://spiritualsoundsystem.kylemensing.com/" target="_blank">Spiritual Sound System</a> mobile style tweaks</li>
<li><a href="https://www.freecodecamp.org/" target="_blank">Free Code Camp</a></li>
<li><a href="https://www.freecodecamp.org/" target="_blank">Free Code Camp</a> + more <a href="https://spiritualsoundsystem.kylemensing.com/" target="_blank">Spiritual Sound System</a> tweaks</li>
<li>Brutalist-inspired home page design (coming soon)</li>
</ol>
    <% end %>
