---
title: Beans!
kind: article
created_at: 2020-01-19
preview_image:
---


<% content_for(:comic) do %>
<% end %>

<% content_for(:newspost) do %>
  <h2>Beans!</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
  <p>They’re the best.</p>

<p>Why?</p>

<p>They’re nutritious, economical, sustainable, inexpensive, easy to make, easy to store, come in a million varities, versatile, and delicious!</p>

<p>Whether you start with dry and spend a slow day turning them into a delicious dish of comfort or with a can and rapidly transform it into a meal, beans got your back.</p>

<p>Ready to be the bean?</p>

<ul>
  <li><a href="https://www.thespruceeats.com/vegetarian-black-eyed-peas-1001609">Vegan Black-Eyed Peas</a></li>
  <li><a href="https://stonesoupvirtualcookeryschool.com/2012/06/hot-cheesey-chickpeas/">Hot Cheesy Chickpeas</a></li>
  <li><a href="https://sweetcsdesigns.com/restaurant-style-instant-pot-pinto-beans/">Restaurant Style Pinto Beans (for you Instant Pot fans)</a></li>
</ul>

<p>Soon I start my <a href="https://www.ranchogordo.com/">Rancho Gordo</a> journey, excited to see what this new bean-based adventure brings.</p>
<% end %>
