---
title: No Bad Ideas
kind: article
created_at: 2020-03-27
preview_image:
---


<% content_for(:comic) do %>
<% end %>

<% content_for(:newspost) do %>
  <h2>There Are No Bad Ideas</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
  <h3>Writing advice from Austin Kleon</h3>

<p>I like <a href="https://austinkleon.com/2020/01/18/one-method-of-writing/" target="_blank">this approach to writing by Austin Kleon</a>:</p>
<blockquote>
<p>Make note of every dumb thought that occurs to you throughout the day.</p>

<p>Tomorrow morning, pick the thought you think is the least dumb and write more about it.</p>

<p>Repeat ad infinitum. (Or ad nauseam. You know, whatever works…)</p>
</blockquote>

<p>The ideation stage is not the time for editing. Cutting. Judging. It’s the time for creating more ideas, capturing them, and letting future you cull through and make judgements with the benefit of space and time.</p>
<% end %>
