---
title: Masked Heroes
kind: article
created_at: 2020-03-25
preview_image:
---


<% content_for(:comic) do %>
<% end %>

<% content_for(:newspost) do %>
  <h2>Masked Heroes/Thank You</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
    <blockquote>
      <h4>a poem</h4>
    </blockquote>
    <br />
  <p>masked heroes</p>
<p>&nbsp; &nbsp; &nbsp;scrubbed in on the frontlines</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; of pandemic panic</p>
<p>wranglers of the infirm</p>
<p>&nbsp; &nbsp; &nbsp;and ignorant</p>
<p>stepping into risk knowingly</p>
<p>&nbsp; &nbsp; &nbsp;because of a decision</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; made long ago</p>
<p>long before</p>
<p>&nbsp; &nbsp; &nbsp;the exponential curve</p>
<p>&nbsp; &nbsp; &nbsp;the fake news virus</p>
<p>&nbsp; &nbsp; &nbsp;the spread</p>
<p>&nbsp; &nbsp; &nbsp;inflection points passed</p>
<p>&nbsp; &nbsp; &nbsp;sporadic social distancing</p>
<p>striding headfirst into the theater</p>
<p>so that we may</p>
<p>&nbsp; &nbsp; &nbsp;perhaps</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; remain safe</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; recover</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; regain normalcy</p>
<p>thanklessly toiling</p>
<p>&nbsp; &nbsp; &nbsp;for us</p>
<p>&nbsp;</p>
<p>Thank you.</p>
  <% end %>
