---
title: Be Odd
kind: article
created_at: 2020-03-24
preview_image:
---


<% content_for(:comic) do %>
<% end %>

<% content_for(:newspost) do %>
  <h2>Be Weird! Be Odd!</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
<blockquote>
  <h3>You shall know the truth and the truth shall make you odd.</h3>
</blockquote>
    <p>Wise words from <a href="https://www.goodreads.com/quotes/48482-you-shall-know-the-truth-and-the-truth-shall-make" target="_blank">Flannery O'Connor.</a></p>
<p>Nicely paired with these words from <a href="https://overcast.fm/+KebtCGWgg/54:57" target="_blank">Tyler Cowen.</a></p>
<blockquote>
  <h3>Well, in a sense, it's the weird that is truly normal. It's how people actually are. Like what the really care about, think about. The weird is the stage presence we put on and all the puffery and unwillingness to say what you really think.</h3>
</blockquote>
<h4>How will you be weird today?</h4>
    <% end %>
