---
title: PLNT LYFE v4
kind: article
created_at: 2020-03-06
preview_image:
tags: [ 'PLNTLYFE', 'garden' ]
---


<% content_for(:comic) do %>
<% end %>

<% content_for(:newspost) do %>
  <h2>PLNT LYFE v4</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
  <p>New issue of PLNT LYFE is out!</p>

<p>What I'll be planting this spring, what I'm curious about (it's related to planting), and recipes for what I'm eating this week.</p>

<p><a href="https://buttondown.email/kylemensing/archive/plnt-lyfe-v4-sowing-seeds/">Read it here.</a></p>
<% end %>

