---
title: Self-Distancing with Sourdough
kind: article
created_at: 2020-03-15
preview_image:
---


<% content_for(:comic) do %>
  <img src="/imgs/corona-lidl.jpg">
<% end %>

<% content_for(:newspost) do %>
  <h2>Self-Distancing with Sourdough</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
<p>Hello and welcome to Corona Prep Weekend 2020 here in sporadically sunny South Carolina. Between trips to the grocery stores and handwashing sessions, I turned some of those previously procured rations into enjoyable edibles.
</p>
<p>As far as I know St. Patrick’s Day is still happening on Tuesday, but it may have been rescheduled. Honestly kind of hard to keep up at this point. Either way I’ll be celebrating it because I decided to make Irish Soda Bread today. But not just any soda bread, <a href="https://www.kingarthurflour.com/recipes/seeded-sourdough-soda-bread-recipe" target="_blank">Seeded Sourdough Soda Bread</a>.
</p>
<p>I made a few tweaks/substitutions, naturally. First batch:
</p>
<ul>
<li>2 cups whole wheat flour</li>
<li>1/2 cup wheat germ</li>
<li>Healthy sprinkle of wheat bran</li>
<li>1 1/4 cups unbleached all-purpose flour</li>
<li>1/2 cup of old fashioned oats, red bulgur, hemp hearts, chia seeds, and flax seeds</li>
<li>1 teaspoon baking soda</li>
<li>3/4 teaspoon salt</li>
<li>1 cup sourdough starter discard</li>
<li>1/4 cup melted butter</li>
<li>3 tablespoons honey</li>
<li>3/4 cup milk</li>
</ul>
<p>Delicious! Yet dense.</p>
<p>I may have handled and compacted it too much. Or it may be because whole wheat flour is very different from wholemeal flour (what the recipe calls for) and the uniformity of grind caused some issues. But I am a resourceful Googler and decided to try a batch with baking powder to see if it would help the rise. I added ¾ teaspoon baking powder. I also handled it less in the kneading and shaping process. No idea if this helped as I haven’t cut into it yet (I can only cut into so many loaves on one day!), but I’ll post an update when I have one.</p>
    <p>But then, I was struck by the luck of the Irish.</p>
    <p>In preparation to make some <a href="https://www.markbittman.com/recipes-1/oats-n-beans" target="_blank">Oats n’ Beans</a> I made a double batch of <a href="https://www.markbittman.com/recipes-1/oats-n-beans" target="_blank">Beans & Tomatoes</a> (what better time to over-prep and freeze than now?). I cooked the navy beans in the Instant Pot using <a href="https://www.camelliabrand.com/recipes/instant-pot-white-beans/" target="_blank">this recipe</a> with one modification, I used Better Than Bouillon roasted vegetable stock instead of a broth because it’s what I had handy and decided I didn’t just want water. Gimmie the flavor! I also used the bean broth in place of the broth in the Beans & Tomatoes recipe.</p>
<p>But why am I weirdly adding this tangent about beans at the end of a post about sourdough soda bread?</p>
<h4>Because it turns out they go together like beans on toast!</h4>
<img src="/imgs/irish-soda-beans.jpg" alt="tomato-y beans and irish soda bread in the corner" width="100%">
    <% end %>
