---
title: Silicon Valley Problems
kind: article
created_at: 2020-03-12
preview_image:
---


<% content_for(:comic) do %>
<% end %>

<% content_for(:newspost) do %>
  <h2>Silicon Valley Problems</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
  <p>A quote of a quote from <a href="https://www.exponentialview.co/p/-after-the-virus?r=qh3g&utm_campaign=post&utm_medium=a_readers_blog&utm_source=kylemensing.com" target="_blank">Azeem Azar's Exponential View</a></p>

<blockquote><h3>Silicon Valley [is] solving problems of upper-middle-class men who spend far too much time working and crave microefficiencies</h3></blockquote>

<p>Tech typically talks in lofty terms. Especially Silicon Valley. Everything is going to make the world better, empower people, and create new economic engines. But when you look at what these companies are really delivering, it’s convenience for those who can afford it. And maybe some spare change for those who can’t but will be the labor that makes it possible. Services for those who don’t want to be bothered with going into public or taking a DIY approach.</p>

<p>Yes, I understand there are actual benefits for lots of people. But is Uber really changing the world? Or creating a mobility network that’s worse than what we had from an emissions standpoint?</p>

<p>Could the millions, billions, and trillions of $£¥€ invested in these companies have made a more real and more impactful difference elsewhere?</p>

<% end %>
