---
title: Spiritual Sound System
kind: article
created_at: 2020-03-31
preview_image: /imgs/spiritual-sound-system.jpg
---


<% content_for(:comic) do %>
  <img src="/imgs/spiritual-sound-system.jpg">
<% end %>

<% content_for(:newspost) do %>
  <h2>Spiritual Sound System</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
<p>I've started seeking a certain type of listening lately, inspired by <a href="https://www.instagram.com/firstrun/" target="_blank">Knox Robinson</a>. Music as a counterpoint to our current times. Positive vibrations and spiritual sensations.</p>
<p>The deeper I got the more I enjoyed it. The exploratory aspect. The listening experience.</p>
<p>So I made a thing to help share it: <a href="https://spiritualsoundsystem.kylemensing.com/" target="_blank">Spiritual Sound System</a>.</p>
<p>The project kicked off with the 5 hour track/mix <a href="https://soundcloud.com/eastforest/music-for-mushrooms-a-soundtrack-for-the-psychedelic-practitioner" target=_blank">Music For Mushrooms: A Soundtrack For The Psychedelic Practitioner by East Forest</a>.</p>
<p>This week is the <a href="https://horselords.bandcamp.com/album/the-common-task" target="_blank">new album from Horse Lords: The Common Task</a>.</p>
<p>Enjoy some positive vibrations and stay healthy.</p>
    <% end %>
