---
title: Trends 2020 Distilled (Marketing Edition)
kind: article
created_at: 2020-03-17
preview_image:
---


<% content_for(:comic) do %>
<% end %>

<% content_for(:newspost) do %>
  <h2>Trends 2020: Distilled (Marketing Edition)</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
<p>It’s a new year, a new decade(?), so you know what that means: it’s trend time! We dusted off our crystal ball over at <a href="https://www.blueion.com/" target="_blank">Blue Ion</a> (not to be confused with our Cristal Ball) and took a peek at the future of marketing. 
Here’s what we saw.</p>

<h4>Techlash: The Fallout</h4>
<p><i>The future is private.</i></p>

<p><b>The Robots Cometh</b></p>
<p><i>Automation, but for real this time.</i></p>

<p><b>Venture into the Dark Forests</b></p>
<p><i>Channels with a subscriber list and more control.</i></p>

<p><b>Fly Your Flag</b></p>
<p><i>Lay claim to what to own and share it wide.</i></p>

<p><b>Own the Moment</b></p>
<p><i>Meet customers where they are, not where you want them to be.</i></p>

<p>Click over to the <a href="https://www.blueion.com/blog/2020-tech-and-marketing-trends-distilled/" target="_blank">Blue Ion blog</a> to read even more of what the magic 8 ball told us. However, if you don't, simply remember three things: Respect your customers. Own your channels. Tell your story.</p>
<% end %>
