 
---
title: Connecting People and Cats
kind: article
created_at: 2020-02-08
preview_image:
---


<% content_for(:comic) do %>
<% end %>

<% content_for(:newspost) do %>
  <h2>Connecting People and Cats</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
<p>I just finished reading <a href="https://www.google.com/url?q=https://idlewords.com/talks/web_design_first_100_years.htm" target="_blank">this talk</a> and can't recommend it highly enough.<a href="#ftnt1" id="ftnt_ref1">[1]</a></p>
      <p>It touches on a lot of interesting points, mirrors a lot of my opinions,<a href="#ftnt2" id="ftnt_ref2">[2]</a> and clearly lays out the different priorities that are trying to claim the web.<a href="#ftnt3" id="ftnt_ref3">[3]</a>
      
      <p>While it's chock full of takeaways, these are the things that jumped out at me. Either directly from or inspired by parts of the piece:
      <ul>
          <li>Remember you are always operating within a system, you can do the coolest thing imaginable but if it doesn&rsquo;t fit within the system it won&rsquo;t go anywhere</li>
          <li>We don&rsquo;t owe corporations a continued existence for any reason if they are not serving us in some useful, meaningful way.<a href="#ftnt4" id="ftnt_ref4">[4]</a></li>
          <li>What are you building this for? Who are you building this for?</li>
          <li>If you do your work really well&mdash;and don&rsquo;t let completely plausible excuses give you an out&mdash;you can build an industry&rsquo;s future, even if you&rsquo;re the B team</li>
          <li>How many things we see as uniquely American are actually a bill of goods sold to us by someone seeking profit?<a href="#ftnt5" id="ftnt_ref5">[5]</a></li>
          <li>&ldquo;Good enough&rdquo; is perfectly fine.<a href="#ftnt6" id="ftnt_ref6">[6]</a></li>
          <li>Living in the future is no way to experience and fix the present</li>
          <li>Growth is not an end game or state. And infinite growth is impossible. What happens when growth stops.<a href="#ftnt7" id="ftnt_ref7">[7]</a></li>
          <li>What does this quote mean to you? &ldquo;The future is here, it&rsquo;s just not evenly distributed yet.&rdquo;</li>
          <li>Listen to the people who know what they&rsquo;re talking about, try to find the motivations behind the people who don&rsquo;t.<a href="#ftnt8" id="ftnt_ref8">[8]</a></li>
      </ul>
      <p>I&rsquo;m on team Connect Knowledge, People, and Cats.</p>
      <p>So go find a hobby, something you&rsquo;re curious about, something you want to learn, or simply a way to share whatever it is with others. Document how you do it. Use cheap or open source tools where possible<a href="#ftnt9" id="ftnt_ref9">[9]</a> and share those resources with others.<a href="#ftnt10" id="ftnt_ref10">[10]</a> Turn yourself and your knowledge into a platform for others to benefit from. And hey, maybe pet a cat (or other furry animal) today.</p>
      
      <p>Source: <a href="https://www.google.com/url?q=https://idlewords.com/talks/web_design_first_100_years.htm" target="_blank">Web Design: The First 100 Years</a></p>
      
      <hr>
      <p><a href="#ftnt_ref1" id="ftnt1">[1]</a> Thanks for the recommendation, <a href="https://www.google.com/url?q=https://thomascannon.me/" target="_blank">Thomas</a>!</p>
      <p><a href="#ftnt_ref2" id="ftnt2">[2]</a> No wonder I like it!</p>
      <p><a href="#ftnt_ref3" id="ftnt3">[3]</a> And reality as a whole since they are pretty linked now.</p>
      <p><a href="#ftnt_ref4" id="ftnt4">[4]</a> Yes, I know this gets into the thorny jobs issue, but our concerns for the individual welfare of workers shouldn&rsquo;t make us subservient to corporate overlords. Plus, that would further erode any leverage we may have.</p>
      <p><a href="#ftnt_ref5" id="ftnt5">[5]</a> Looking at you cars.</p>
      <p><a href="#ftnt_ref6" id="ftnt6">[6]</a> And what is perfect anyway? Is it possible? What would it take to get there? Is it worth it?</p>
      <p><a href="#ftnt_ref7" id="ftnt7">[7]</a> see: <a href="https://www.google.com/url?q=https://kk.org/thetechnium/1000-true-fans/" target="_blank">1,000 true fans</a></p>
      <p><a href="#ftnt_ref8" id="ftnt8">[8]</a> Are fears of superintelligent AI systems and what they imply actually fears of what these people see in the mirror and project onto a faceless, inanimate entity to cope?</p>
      <p><a href="#ftnt_ref9" id="ftnt9">[9]</a> Or build your own.</p>
      <p><a href="#ftnt_ref10" id="ftnt10">[10]</a> This post was written on a sub-$200 Chromebook in Google Docs, exported to HTML, and plugged into my <a href="https://sunday-papers.netlify.com/" target="_blank">Sunday Papers</a> powered site on <a href="https://github.com/tcannonfodder/sunday-papers" target="_blank">Github</a>, then deployed via <a href="https://www.netlify.com/" target="_blank">Netlify</a> to my domain registered via <a href="https://www.hover.com/" target="_blank">Hover</a>.</p>
    <% end %>
