---
title: PLNT LYFE
kind: article
created_at: 2020-02-18
preview_image:
---


<% content_for(:comic) do %>
<% end %>

<% content_for(:newspost) do %>
  <h2>PLNT LYFE</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
<p>I started an email newsletter/list (what is the accepted terminology of this now?) about my attempts to move towards a plant-based lifestyle, running, nature, sustainability, and honestly whatever else I feel I can cram under the name "plant life".</p>
<p>I'm making this up as I go.</p>
<p>I'm two emails in and both are related to running:</p>
<ol>
<li><a href="https://buttondown.email/kylemensing/archive/plnt-lyfe-v1-barometric-running/" target="_blank">Barometric Running</a></li>
<li><a href="https://buttondown.email/kylemensing/archive/plnt-lyfe-v2-beyond-running/" target="_blank">Beyond Running</a></li>
</ol>
<h4>Want to join me on this weird, wild journey?</h4>
<form
  action="https://buttondown.email/api/emails/embed-subscribe/kylemensing"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/kylemensing', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email">
  <input type="hidden" value="1" name="embed"></input>
  <input type="submit" value="Yeah!"></input>
  <p>
    <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
  </p>
</form>
    <% end %>
