---
title: Progress vs. Excuses
kind: article
created_at: 2020-02-12
preview_image:
---


<% content_for(:comic) do %>
<% end %>

<% content_for(:newspost) do %>
  <h2>Progress vs. Excuses</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
<p>[Humble the Poet](https://www.humblethepoet.com/) was on the [Rich Roll podcast](https://www.richroll.com/podcast/humble-the-poet-461/) dropping knowledge bombs.</p>
<p>Including:</p>
<blockquote>
  <h3>If you're not making progress, you're making excuses.</h3>
</blockquote>
<p>I'm practically en expert on procrastinating and making grand plans with very little in the way of action so this hit home. It was also a great kick in the ass and reminder to do soemthing, anything.</p>
<p>You don't have to finish in one go. One day. All at once.</p>
<p>Even 1% is progress. And progress compounds, so 1% daily over time is a big deal.</p>
<h4>Will you make progress or excuses today?</h4>
    <% end %>
