---
title: Hero's Journey
kind: article
created_at: 2020-01-22
preview_image:
---


<% content_for(:comic) do %>
<% end %>

<% content_for(:newspost) do %>
  <h2>Hero's Journey</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
  <p>I recently attended the <a href="https://realskillsconference.com/">Real Skills Conference</a>, a 2-hour digial conference, and was struck by this line <a href="https://seths.blog/">Seth Godin</a> said as he closed out the conference.</p>

<blockquote>
  <h3 id="this-is-not-a-heros-journey-its-our-journey">“This is not a hero’s journey, it’s our journey.”</h3>
</blockquote>

<p>The timing of hearing it right before starting the long weekend on which we honor the memory of Reverend Martin Luther King, Jr. was auspicious.</p>

<p>Heros only achieve that status after having done something others deem heroic. One becomes a hero by doing the work, by earning it. By standing up and taking a chance.</p>

<p>We have too many pressing issues in front of us to sit around and wait for a hero to ride to our aid. It’s time to find the others and make a ruckus.</p>

<p>We are all in this together. There are no heros coming to our rescue, we are our own heros.</p>
<% end %>
